.admin_container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.admin_menu {
  width: 220px;
  padding: 0 40px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #232328cb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin_menu .main_title {
  font-size: 26px;
  margin: 40px 0 40px 0;
}

.table_btn {
  width: 100%;
  padding: 12px 0;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  margin-bottom: 5px;
  cursor: pointer;
}
.table_btn.show {
  background-color: #f5cb5c;
  color: #000;
}

.admin_container .tables {
  width: calc(100% - 370px);
  padding: 40px 30px;
  min-height: 100vh;
  background-color: #232328cb;
}

/* admin animes */
.table_list {
  width: 100%;
  background-color: #1a1a1d;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.table_list div {
  text-align: center;
}

.table_list div:nth-child(1) {
  width: 60%;
}

.table_list div:nth-child(2) {
  border-left: 1px solid #404040;
  border-right: 1px solid #404040;
  width: 15%;
}

.table_list div:nth-child(3) {
  width: 25%;
}

.admin_comments .table_list div:nth-child(1),
.admin_users .table_list div:nth-child(1) {
  width: 75%;
}

.admin_comments .table_list div:nth-child(2),
.admin_users .table_list div:nth-child(2) {
  border-left: none;
  border-right: 1px solid #404040;
  width: 25%;
}

.anime_table {
  width: calc(100% - 30px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1a1d;
  padding: 15px;
  border-top: 1px solid #292929;
}

.anime_table img {
  width: 60px;
  object-fit: cover;
}

.discussion_anime_table_inf img,
.comment_anime_table_inf img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 20px;
  object-fit: cover;
}

.anime_table_inf,
.discussion_anime_table_inf,
.comment_anime_table_inf {
  display: flex;
  align-items: center;
  width: 60%;
}

.comment_anime_table_inf {
  width: 75%;
}

.anime_table_inf span {
  margin-right: 15px;
}

.anime_table_score,
.anime_table_voice_actor {
  width: 15.4%;
  text-align: center;
  border-left: 1px solid #404040;
  border-right: 1px solid #404040;
  font-size: 18px;
  letter-spacing: 0.5px;
}

.anime_table_voice_actor {
  font-size: 14px;
}

.anime_table_buttons {
  width: 24.4%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.at_btn {
  width: calc(100% - 180px);
  padding: 6px 0;
  background-color: #f5cb5c;
  color: #000;
  font-size: 12px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
}
.at_btn:hover {
  background-color: #f5cc5c90;
}

.show_btn {
  margin-right: 15px;
  background-color: #387adf;
  color: #fff;
}
.show_btn:hover {
  background-color: #387adf90;
}

.delete_btn {
  background-color: #ff004d;
  color: #fff;
}
.delete_btn:hover {
  background-color: #ff004d90;
}

.profile_btn {
  margin-right: 15px;
  background-color: #f5cb5c;
  color: #000;
}
.profile_btn:hover {
  background-color: #f5cb5c90;
}

.admin_container .theme_mode_wrapper {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 0;
}

/* responsive */
@media (max-width: 1439px) {
  .table_list div:nth-child(1) {
    width: 55%;
  }

  .table_list div:nth-child(3) {
    width: 30%;
  }

  .admin_comments .table_list div:nth-child(1),
  .admin_users .table_list div:nth-child(1) {
    width: 70%;
  }

  .admin_comments .table_list div:nth-child(2),
  .admin_users .table_list div:nth-child(2) {
    width: 30%;
  }

  .anime_table_inf,
  .discussion_anime_table_inf,
  .comment_anime_table_inf {
    width: 55%;
  }

  .anime_table_buttons {
    width: 29.4%;
  }

  .at_btn {
    width: calc(100% - 200px);
  }
}

@media (max-width: 1300px) {
  .at_btn {
    width: calc(100% - 175px);
    font-size: 11px;
  }

  .anime_table_inf span,
  .discussion_anime_table_inf span,
  .comment_anime_table_inf span {
    font-size: 14px;
  }

  .anime_table_score,
  .anime_table_voice_actor {
    font-size: 16px;
    letter-spacing: 0;
  }

  .anime_table_voice_actor {
    font-size: 12px;
  }
}

@media (max-width: 1200px) {
  .anime_table_inf,
  .discussion_anime_table_inf,
  .comment_anime_table_inf {
    width: 50%;
  }

  .anime_table_buttons {
    width: 34.4%;
  }

  .table_list div:nth-child(1) {
    width: 50%;
  }

  .table_list div:nth-child(3) {
    width: 35%;
  }

  .admin_comments .table_list div:nth-child(1),
  .admin_users .table_list div:nth-child(1) {
    width: 65%;
  }

  .admin_comments .table_list div:nth-child(2),
  .admin_users .table_list div:nth-child(2) {
    width: 35%;
  }
}

@media (max-width: 1100px) {
  .at_btn {
    width: calc(100% - 150px);
    font-size: 11px;
  }

  .show_btn, .profile_btn {
    margin-right: 10px;
  }
}
