@font-face {
  font-family: YekanBakhHeavy;
  src: url(../fonts/Yekan-Bakh-Heavy.woff);
}

@font-face {
  font-family: YekanBakhBold;
  src: url(../fonts/Yekan-Bakh-Bold.woff);
}

body {
  background-color: #1a1a1d;
  direction: rtl;
  color: #fff;
  font-family: YekanBakhBold;
  margin: 0;
}

.section_title_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  width: calc(100% - 60px);
}

.section_title_box span {
  margin: 0 0 30px 0;
  font-size: 22px;
  border-bottom: 1px solid #f5cb5c;
  width: fit-content;
  padding: 0 0 10px 100px;
}

.section_title_box .show_btn {
  color: #000;
  font-size: 12px;
  background-color: #f5cb5c;
  padding: 8px 25px;
  height: fit-content;
  transition: 0.2s;
  cursor: pointer;
  border: 1px solid #f5cb5c;
  margin-bottom: 30px;
  display: flex;
}
.section_title_box .show_btn:hover {
  color: #f5cb5c;
  background: none;
}

.section_title_box .show_btn div {
  margin: 3px 5px 0 0;
  font-size: 11px;
}

.tag_box {
  border: 1px solid #f5cb5c;
  padding: 4.5px 10px;
  font-size: 12px;
  color: #f5cb5c;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  margin-left: 10px;
}
.tag_box:hover {
  background-color: #f5cb5c;
  color: #000;
}

/* light mode */
.App.show {
  background-color: #ebecef;
}

/* home light theme */
.App.show .logo_box,
.App.show .h_link.show,
.App.show .score_box {
  color: #ef4f72 !important;
}
.App.show .h_link {
  color: #000 !important;
}
.App.show .sign_btn {
  background-color: #fff;
  color: #000;
}
.App.show .log_btn,
.App.show .play_btn {
  background-color: #ef4f72;
  color: #fff;
  border-color: #ef4f72;
}
.App.show .play_btn:hover {
  background: none !important;
}
.App.show .menu_icon {
  color: #ef4f72;
}
.App.show .menu_container {
  background-color: #ebecef;
}
.App.show .score_box {
  color: #fff !important;
  background-color: #ef4f72;
}
.App.show .tag_box {
  border-color: #ef4f72 !important;
  color: #ef4f72 !important;
}
.App.show .tag_box:hover {
  background-color: #ef4f72 !important;
  color: #fff !important;
}
.App.show .anime_description {
  border-color: #ef4f723d !important;
}
.App.show .category_box img {
  filter: brightness(0.5) !important;
}
.App.show .category_box .title_box {
  border-color: #fff !important;
}
.App.show .category_box .title_box:hover {
  border-color: #ef4f72 !important;
  background-color: #ef4f7244 !important;
}
.App.show .section_title_box .show_btn {
  background-color: #ef4f72;
  color: #fff;
  border-color: #ef4f72;
}
.App.show .section_title_box .show_btn:hover {
  background: none;
  color: #ef4f72;
}
.App.show .section_title_box span {
  border-color: #ef4f72;
  color: #ef4f72;
}
.App.show .article_box {
  background-color: #fff;
  border-color: #fff;
}
.App.show .article_box:hover {
  border-color: #ef4f72;
}
.App.show .article_box .main_title {
  color: #000;
}
.App.show .article_box .main_title:hover {
  color: #ef4f72;
}
.App.show .comments_num {
  color: #00a9ff !important;
}
.App.show .comments_num div,
.App.show .likes_num div {
  color: #000;
}
.App.show .anime_info {
  background-color: #fff;
  color: #000;
}
.App.show .show_anime {
  background-color: #ef4f72;
  color: #fff;
}
.App.show .show_anime:hover {
  background-color: #000;
}
.App.show .score {
  color: #ef4f72;
}
.App.show .home_discussions .discussion_box {
  background-color: #fff;
  border-color: #fff;
}
.App.show .home_discussions .discussion_box:hover {
  border-color: #ef4f72;
}
.App.show .home_discussions .discussions .show_more {
  background-color: #ef4f72;
  color: #fff;
  border-color: #ef4f72;
}
.App.show .home_discussions .discussions .title_box {
  color: #ef4f72;
}
.App.show .home_discussions .discussions .user_box {
  color: #000;
}
.App.show .home_discussions .discussions .description {
  color: #000;
}
.App.show .discussion_reply .reply_icon {
  color: #ef4f72;
}
.App.show .discussion_reply_num {
  color: #000;
}
.App.show .weekly_schedule {
  background-color: #fff;
  color: #000;
}
.App.show .weekly_schedule .top_section {
  border-bottom: 1px solid #ef4f72;
}
.App.show .weekly_schedule .title_box div {
  color: #ef4f72;
}
.App.show .week_days div {
  color: #000;
}
.App.show .week_days div:hover {
  color: #ef4f72;
}
.App.show .week_days div.show {
  background-color: #ef4f72;
  color: #fff;
}
.App.show .week_days div.show:hover {
  color: #fff;
}
.App.show .schedule_notif_box {
  background-color: #eee;
  border-color: #eee;
}
.App.show .schedule_notif_box:hover {
  border-color: #ef4f72;
}
.App.show .footer_container {
  color: #000;
}
.App.show .footer_container .left_section .title_box {
  color: #ef4f72;
}
.App.show .footer_container .icon_box {
  background-color: #fff;
  color: #ef4f72;
}
.App.show .weekly_schedule .top_side {
  border-bottom: 1px solid #ebecef;
}

/* sign pages light theme */
.App.show .sign_form {
  background-color: #fff;
}
.App.show .sign_form .title_box {
  color: #ef4f72;
}
.App.show .sign_input {
  background-color: #ebecef;
  border: 1px solid #ebecef;
  color: #000;
}
.App.show .sign_input:focus {
  border-color: #ef4f72;
}
.App.show .submit_btn {
  background-color: #ef4f72;
  color: #fff;
}
.App.show .submit_btn:hover {
  background: rgb(249, 83, 83);
}
.App.show .sign_container .top_buttons {
  border-bottom: 1px solid #ef4f72;
}
.App.show .sign_container .top_buttons div,
.sign_container .linked {
  background-color: #ef4f72;
  color: #fff;
}
.App.show .sign_container .linked {
  color: #ef4f72 !important;
}
.App.show .sign_back {
  color: #ef4f72;
}

/* anime single page light theme */
.App.show .anime_background_cover {
  filter: blur(0px) brightness(0.3);
}
.App.show .anime_single_box .right_side_r_sec .icons div {
  color: #000;
  background-color: #fff;
  border: 1px solid #fff;
}
.App.show .anime_single_box .right_side_r_sec .icons div:hover {
  border-color: #ef4f72;
  color: #ef4f72;
}
.App.show .anime_single_box .title_box {
  border-right: 1px solid #ef4f72;
}
.App.show .anime_single_box .anime_tags {
  border-bottom: 1px solid #ef4f723d;
}
.App.show .attribute {
  background-color: #fff;
}
.App.show .attribute_title {
  color: #ef4f72;
}
.App.show .attribute_title span {
  color: #000;
}
.App.show .attribute_icon {
  color: #ef4f72;
}
.App.show .anime_single_box .left_side_title {
  border-bottom: 1px solid #ef4f723d;
}
.App.show .anime_score_votes {
  background-color: #ef4f72;
  color: #fff;
}
.App.show .anime_score_box span {
  color: #ef4f72;
}
.App.show .last_episode {
  background-color: #fff;
}
.App.show .last_episode .description {
  color: #000;
}
.App.show .last_episode .play_new_ep_btn {
  background-color: #ef4f72;
  color: #fff;
  border: 1px solid #ef4f72;
}
.App.show .last_episode .play_new_ep_btn:hover {
  background: none;
  color: #ef4f72;
}
.App.show .character_box {
  border-bottom: 1px solid #ccc;
}
.App.show .character_box:hover {
  border-color: #ef4f72;
}
.App.show .char_name {
  color: #000;
}
.App.show .comment_form {
  background-color: #fff;
}
.App.show .comment_form input {
  background-color: #ebecef;
  border: 1px solid #ebecef;
  color: #000;
}
.App.show .comment_form input:focus {
  border-color: #ef4f72;
}
.App.show .comment_form button {
  background-color: #ef4f72;
  color: #fff;
  border: 1px solid #ef4f72;
}
.App.show .comment_form button:hover {
  background: none;
  color: #ef4f72;
}
.App.show .comment_box {
  background-color: #fff;
  border-right: 2px solid #ef4f72;
  color: #000;
}
.App.show .comments_section .rate_box {
  background-color: #fff;
  color: #000;
  border-bottom: 1px solid #ef4f72;
}
.App.show .comments_section .rate_box .submit_rate {
  background-color: #ef4f72;
  color: #fff;
  border: 1px solid #ef4f72;
}
.App.show .comments_section .rate_box .submit_rate:hover {
  color: #ef4f72;
  background: none;
}
.App.show .comment_buttons .comment_btn {
  background-color: #eee;
  border: 1px solid #eee;
}
.App.show .comment_buttons .comment_btn:hover {
  border-color: #ef4f72;
}

/* discussions page light theme */
.App.show .search_box input {
  background-color: #fff;
  border: 1px solid #fff;
  color: #000;
}
.App.show .search_box input:focus {
  border-color: #ef4f72;
}
.App.show .create_discussions {
  background-color: #ef4f72;
  color: #fff;
  border: 1px solid #ef4f72;
}
.App.show .create_discussions:hover {
  background: none;
  color: #ef4f72;
}
.App.show .discussions_container .discussion_box {
  background-color: #fff;
  border-bottom: 1px solid #fff;
  color: #000;
}
.App.show .discussions_container .discussion_box:hover {
  border-color: #ef4f72;
}
.App.show .discussions_container .discussion_box .title_box {
  color: #ef4f72;
}
.App.show .discussions_container .discussion_box .category,
.App.show .popular_categories .category {
  border: 1px solid #ef4f72;
  color: #fff;
  background-color: #ef4f72;
}
.App.show .discussions_container .discussion_box .category:hover,
.App.show .popular_categories .category:hover {
  background: none;
  color: #ef4f72;
}
.App.show .replies_box {
  background-color: #eee;
}
.App.show .replies_box div {
  color: #ef4f72;
}
.App.show .hot_discussions {
  background-color: #fff;
}
.App.show .hot_discussion {
  background-color: #eee;
  border: 1px solid #eee;
  color: #000;
}
.App.show .hot_discussion:hover {
  color: #ef4f72;
  border-color: #ef4f72;
}
.App.show .hot_discussion .category {
  color: #fff;
  border: 1px solid #ef4f72;
  background-color: #ef4f72;
}
.App.show .popular_categories {
  border: 1px dashed #909090;
}
.App.show .active_users .user_box {
  background-color: #fff;
  color: #000;
}
.App.show .active_users .user_box .rank {
  color: #ef4f72;
}
.App.show .active_users .user_box .rank div {
  color: #fff;
  background-color: #ef4f72;
}
.App.show .popular_categories .category_tag {
  background-color: #fff;
  color: #000;
  border: 1px solid #fff;
}
.App.show .popular_categories .category_tag:hover {
  border-color: #ef4f72;
}
.App.show .popular_categories .category_tag span {
  color: #ef4f72;
}
.App.show .replies_box {
  color: #000;
}
.App.show .discussions_container .discussion_box .writer_name {
  color: #000;
}
.App.show .discussions_container .discussion_box .description {
  color: #000;
}
.App.show .popular_categories {
  background-color: #fff;
  border: none;
}
.App.show .popular_categories .category_tag {
  background-color: #ebecef;
  color: #000;
  border: 1px solid #ebecef;
}
.App.show .popular_categories .category_tag:hover {
  border-color: #ef4f72;
}

/* contact page */
.App.show .contact_container .title_box .mini_title {
  color: #000;
}
.App.show .contact_container .title_box {
  color: #ef4f72;
}
.App.show .message_form input,
.App.show .message_form textarea {
  background-color: #fff;
  border: 1px solid #fff;
  color: #000;
}
.App.show .message_form input:focus,
.App.show .message_form textarea:focus {
  border-color: #ef4f72;
}
.App.show .message_form button {
  background-color: #ef4f72;
  color: #fff;
  border: 1px solid #ef4f72;
}
.App.show .message_form button:hover {
  background: none;
  color: #ef4f72;
}

/* discussion single page */
.App.show .discussion_container .top_section {
  background-color: #fff;
}
.App.show .reply_box {
  background-color: #ebecef;
  color: #000;
}
.App.show .reply_box div {
  color: #ef4f72;
}
.App.show .discussion_container .top_section .title_box {
  border-right: 2px solid #ef4f72;
  color: #000;
}
.App.show .discussion_container .top_section .description {
  background-color: #ebecef;
  color: #000;
}
.App.show .discussion_container .top_section .category_content {
  border: 1px solid #ef4f72;
  color: #fff;
  background-color: #ef4f72;
}
.App.show .discussion_container .top_section .category_content:hover {
  background: none;
  color: #ef4f72;
}
.App.show .discussion_container .top_section .user_name {
  color: #000;
}
.App.show .answer_form input {
  border: 1px solid #fff;
  background-color: #fff;
  color: #000;
}
.App.show .answer_form input:focus {
  border-color: #ef4f72;
}
.App.show .answer_form button {
  background-color: #ef4f72;
  color: #fff;
  border: 1px solid #ef4f72;
}
.App.show .answer_form button:hover {
  background: none;
  color: #ef4f72;
}
.App.show .answer_box {
  background-color: #fff;
}
.App.show .answer_box .user_about .icon_box {
  color: #ef4f72;
}
.App.show .answer_box .user_about .icon_box span {
  background-color: #ef4f72;
  color: #fff;
}
.App.show .answer_box .answer {
  background-color: #ebecef;
  color: #000;
}
.App.show .answer_box .answer_btn {
  background-color: #ef4f72;
  color: #fff;
  border: 1px solid #ef4f72;
}
.App.show .answer_box .answer_btn:hover {
  background: none;
  color: #ef4f72;
}
.App.show .answer_box .user_box {
  color: #000;
}
.App.show .discussion_container .bottom_section .left_side {
  background-color: #fff;
  color: #000;
}
.App.show .discussion_anime .show_btn {
  background-color: #ef4f72;
  color: #fff;
  border: 1px solid #ef4f72;
}
.App.show .discussion_anime .show_btn:hover {
  background: none;
  color: #ef4f72;
}

/* animes page */
.App.show .animes_container .filters_btn {
  background-color: #ef4f72;
  color: #fff;
  border: 1px solid #ef4f72;
}
.App.show .animes_container .filters_btn:hover {
  background: none;
  color: #ef4f72;
}

/* loading box */
.App.show .inner.one {
  border-bottom: 3px solid #ef4f72;
}
.App.show .inner.two {
  border-right: 3px solid #ef4f72;
}
.App.show .inner.three {
  border-top: 3px solid #ef4f72;
}
.App.show .loading_wrapper {
  background-color: #fff;
}

/* responsive */
@media (min-width: 1441px) {
  .App {
    width: 1519px;
  }

  body {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .section_title_box span {
    font-size: 16px;
    padding: 0 0 10px 50px;
  }

  .section_title_box .show_btn {
    font-size: 10px;
    padding: 8px 16px 5px 16px;
  }

  .section_title_box .show_btn div {
    margin: 1.5px 5px 0 0;
    font-size: 10px;
  }
}

@media (max-width: 424px) {
  .section_title_box span {
    font-size: 12px;
    padding: 0 0 10px 30px;
  }

  .section_title_box .show_btn {
    font-size: 8px;
    padding: 8px 14px 5px 14px;
  }

  .section_title_box .show_btn div {
    margin: 1px 5px 0 0;
    font-size: 8px;
  }
}
