.anime_container {
  width: 100%;
  position: relative;
  height: fit-content;
}

.anime_background_cover {
  width: 100%;
  height: 550px;
  filter: blur(50px) brightness(0.35);
  object-fit: cover;
}

.anime_single_box {
  width: calc(100% - 150px);
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.anime_single_box .right_side {
  display: flex;
  align-items: flex-start;
  height: 100%;
}

.anime_single_box .right_side_r_sec {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.anime_single_box .right_side_r_sec .icons {
  display: flex;
  margin-top: 20px;
}

.anime_single_box .right_side_r_sec .icons div {
  width: 40px;
  height: 40px;
  color: #fff;
  background-color: #1a1a1d;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 0 5px;
  cursor: pointer;
  transition: 0.2s;
  border: 1px solid #1a1a1d;
}
.anime_single_box .right_side_r_sec .icons div:hover {
  border-color: #f5cb5c;
  color: #f5cb5c;
}

.anime_single_box .right_side_information {
  height: 100%;
}

.anime_single_box .anime_cover {
  border-radius: 10px;
  width: 275px;
  height: 360px;
}

.right_side_information {
  margin-right: 40px;
}

.anime_single_box .title_box {
  font-size: 22px;
  color: #fff;
  font-weight: 100;
  border-right: 1px solid #f5cb5c;
  padding-right: 20px;
}

.anime_single_box .anime_tags {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f5cc5c3d;
  padding-bottom: 20px;
  margin-top: 50px;
}

.anime_single_box .tags_title_box {
  margin-left: 10px;
  font-weight: 100;
  font-size: 14px;
  color: #fff;
}

.anime_single_box .anime_tag_boxes {
  display: flex;
  align-items: center;
}

.attributes {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 500px;
}

.attribute {
  display: flex;
  flex-direction: column;
  background-color: #1a1a1d;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
}

.attribute_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  color: #f5cb5c;
}

.attribute_title span {
  font-size: 12px;
  margin-top: 5px;
  color: #fff;
}

.attribute_icon {
  font-size: 20px;
  color: #f5cb5c;
}

.anime_single_box .left_side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.anime_single_box .left_side_title {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f5cc5c3d;
  width: 100%;
  justify-content: center;
  padding-bottom: 10px;
}

.anime_score_votes {
  font-size: 12px;
  background-color: #f5cb5c;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 0 0 15px;
  color: #000;
}

.anime_score_box {
  color: #000;
  display: flex;
  align-items: center;
  display: flex;
}

.anime_score_box div {
  font-size: 30px;
  color: #fff;
  font-family: YekanBakhHeavy;
}

.anime_score_box span {
  color: #f5cb5c;
  margin: 8px 0 0 5px;
  font-size: 12px;
}

.anime_description {
  padding-bottom: 20px;
  font-size: 14px;
  font-weight: 100;
  width: 450px;
  letter-spacing: 0.5px;
  margin: 20px 0;
  border-bottom: 1px solid #f5cc5c3d;
}

.play_btn {
  background-color: #f5cb5c;
  color: #000;
  padding: 10px 25px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  border: 1px solid #f5cb5c;
  transition: 0.2s;
  margin: 0;
}
.play_btn:hover {
  background: none;
  color: #f5cb5c;
}

.last_episode_wrapper {
  width: calc(100% - 100px);
  margin: 50px auto 0 auto;
}

.last_episode_wrapper .section_title_box {
  padding: 0;
}

.last_episode {
  width: calc(100% - 40px);
  background-color: #232328cb;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.last_episode .right_side {
  position: relative;
  width: 250px;
  height: 150px;
}

.last_episode .right_side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
  cursor: pointer;
}

.last_episode .time_box {
  position: absolute;
  left: 5px;
  bottom: 5px;
  background-color: #1a1a1d;
  color: #f5cb5c;
  font-size: 13px;
  padding: 5px 10px 2px 10px;
}

.last_episode .play_icon {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 30px;
  cursor: pointer;
  background-color: #0000006c;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.2s;
}
.last_episode .play_icon:hover {
  opacity: 1;
}

.last_episode .description {
  font-size: 14px;
  height: fit-content;
  width: calc(100% - 270px);
}

.last_episode .play_new_ep_btn {
  background-color: #f5cb5c;
  position: absolute;
  bottom: 20px;
  left: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
  font-size: 13px;
  color: #000;
  padding: 5px 15px;
  border: 1px solid #f5cb5c;
  border-radius: 5px;
}
.last_episode .play_new_ep_btn:hover {
  background: none;
  color: #f5cb5c;
}

.last_episode .play_new_ep_btn div {
  margin: 4px 0 0 5px;
}

/* responsive */
@media (max-width: 1439px) {
  .anime_single_box {
    width: calc(100% - 150px);
    align-items: center;
    flex-direction: column;
    top: 50px;
    transform: translate(-50%, 0);
  }

  .anime_background_cover {
    height: 750px;
    overflow: hidden;
  }

  .anime_single_box .left_side {
    width: 100%;
    margin-top: 50px;
  }

  .anime_description {
    width: 100%;
    font-size: 12px;
    line-height: 24px;
  }

  .last_episode .right_side {
    width: 200px;
    height: 120px;
  }

  .last_episode .description {
    width: calc(100% - 220px);
    font-size: 12px;
  }

  .last_episode .play_new_ep_btn {
    bottom: 10px;
    left: 20px;
    font-size: 10px;
  }

  .anime_single_box .anime_cover {
    width: 205px;
    height: 290px;
  }

  .anime_single_box .title_box {
    font-size: 18px;
  }

  .anime_single_box .anime_tags {
    margin-top: 30px;
  }

  .anime_single_box .tags_title_box {
    font-size: 12px;
  }

  .attributes {
    width: 400px;
  }

  .attribute_title {
    font-size: 8px;
  }

  .attribute_title span {
    font-size: 10px;
  }

  .attribute_icon {
    font-size: 18px;
  }

  .anime_score_votes {
    font-size: 10px;
  }

  .anime_score_box div {
    font-size: 26px;
  }

  .anime_score_box span {
    font-size: 10px;
  }

  .anime_single_box .right_side_r_sec .icons div {
    width: 35px;
    height: 35px;
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .attribute {
    width: 90px;
    height: 90px;
  }

  .attribute_title {
    font-size: 9px;
  }

  .attribute_title span {
    font-size: 11px;
  }

  .attribute_icon {
    font-size: 16px;
  }

  .anime_single_box .right_side {
    flex-direction: column;
    align-items: center;
  }

  .anime_single_box .anime_cover {
    width: 165px;
    height: 220px;
  }

  .anime_single_box {
    width: calc(100% - 50px);
    align-items: center;
    flex-direction: column;
    top: 20px;
  }

  .anime_background_cover {
    min-height: 1000px;
  }

  .right_side_information {
    margin: 20px 0 0 0;
  }

  .anime_single_box .right_side_r_sec .icons div {
    width: 35px;
    height: 35px;
    font-size: 12px;
  }

  .attributes {
    width: 100%;
    justify-content: center;
  }

  .tags_title_box {
    display: none;
  }

  .anime_tag_boxes {
    flex-wrap: wrap;
  }

  .tag_box {
    margin-top: 10px;
  }

  .anime_single_box .title_box {
    font-size: 18px;
  }

  .anime_description {
    font-size: 10px;
    line-height: 20px;
  }

  .play_btn {
    font-size: 10px;
  }

  .last_episode_wrapper {
    width: calc(100% - 50px);
  }

  .last_episode .description {
    width: calc(100% - 90px);
    font-size: 8px;
  }

  .last_episode .right_side {
    width: 80px;
    height: 80px;
  }

  .last_episode .play_new_ep_btn {
    font-size: 8px;
    padding: 2px 8px;
  }

  .last_episode .time_box {
    left: 0;
    bottom: 0;
    font-size: 10px;
  }

  .last_episode .play_icon {
    font-size: 20px;
  }
}

@media (max-width: 424px) {
  .last_episode {
    flex-direction: column;
  }

  .last_episode .description {
    width: 100%;
    font-size: 10px;
    margin-bottom: 35px;
  }

  .last_episode .right_side {
    width: 100%;
    height: 120px;
    margin-bottom: 20px;
  }

  .last_episode .play_new_ep_btn {
    font-size: 10px;
    bottom: 15px;
  }
}
