.filters_container {
  width: calc(100% - 100px);
  margin: 0 auto;
  margin-bottom: 30px;
  display: none;
}
.filters_container.show {
  display: block;
}

.filters {
  background-color: #232328cb;
  display: flex;
  width: fit-content;
  padding: 30px;
  border-radius: 5px;
}

.f_btn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}
.f_btn:nth-child(2) {
  margin: 0 20px;
}

.f_btn .title {
  width: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  color: #000;
  border-radius: 5px;
  cursor: pointer;
}

.f_btn .title span {
  font-size: 12px;
  margin-top: 5px;
}

.filters_buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #000;
  background-color: #fff;
  height: 0;
  overflow-y: scroll;
  position: absolute;
  top: 58px;
  z-index: 2;
  border-radius: 5px;
}
.filters_buttons.show {
  min-height: 117px;
}
.filters_buttons::-webkit-scrollbar {
  width: 5px;
}
.filters_buttons::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 5px 0 0 5px;
}
.filters_buttons::-webkit-scrollbar-thumb {
  background: #f5cb5c;
  border-radius: 5px;
}
.filters_buttons::-webkit-scrollbar-thumb:hover {
  background: #f5cb5c;
  border-radius: 5px;
}

.filters_buttons_2 {
  overflow: hidden;
}

.filters_buttons div {
  text-align: center;
  padding: 5px 0;
  font-size: 12px;
  cursor: pointer;
}
.filters_buttons div:hover {
  background-color: #f5cb5c;
}

.submit_filters {
  height: 44px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  background-color: #f5cb5c;
  color: #000;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  border: 1px solid #f5cb5c;
}
.submit_filters:hover {
  background: none;
  color: #f5cb5c;
}
