.contact_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact_container .title_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: YekanBakhHeavy;
  font-size: 30px;
}

.contact_container .title_box .mini_title {
  color: #f5cb5c;
  font-size: 14px;
  font-family: yekanBakhBold;
}

.message_form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 700px;
}

.message_form input,
.message_form textarea {
  width: calc(48.5% - 30px);
  font-family: yekanBakhBold;
  background-color: #232328cb;
  outline: 0;
  border: 1px solid #232328cb;
  transition: 0.2s;
  margin: 30px 0 20px 0;
  padding: 15px;
  color: #fff;
}
.message_form input:focus,
.message_form textarea:focus {
  border-color: #f5cb5c;
}

.message_form textarea {
  width: 100%;
  margin: 0;
  resize: vertical;
  min-height: 200px;
}

.message_form button {
  background-color: #f5cb5c;
  color: #000;
  font-family: yekanBakhBold;
  padding: 10px 40px;
  border: 1px solid #f5cb5c;
  cursor: pointer;
  transition: 0.2s;
  margin: 30px auto 0 auto;
}
.message_form button:hover {
  background: none;
  color: #f5cb5c;
}

/* responsive */
@media (max-width: 767px) {
  .message_form {
    width: calc(100% - 50px);
  }

  .message_form input {
    width: calc(47% - 30px);
    font-size: 10px;
  }

  .message_form textarea {
    font-size: 10px;
    min-height: 150px;
  }

  .message_form button {
    font-size: 10px;
  }
}

@media (max-width: 424px) {
  .contact_container .title_box {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: yekanBakhBold;
  }

  .contact_container .title_box .mini_title {
    font-size: 10px;
  }

  .message_form {
    justify-content: center;
    align-items: center;
  }

  .message_form input {
    width: 100%;
    margin: 0;
    margin-top: 15px;
  }

  .message_form textarea {
    margin-top: 15px;
  }
}
