.discussion_container {
  width: calc(100% - 100px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.discussion_container .top_section {
  width: calc(100% - 80px);
  padding: 40px 40px 50px 40px;
  display: flex;
  flex-direction: column;
  background-color: #232328cb;
  border-radius: 5px;
}

.discussion_container .top_section .user_box {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.user_about_top {
  display: flex;
  align-items: center;
}

.discussion_container .top_section .user_box img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 15px;
}

.discussion_container .top_section .user_about {
  width: calc(100% - 95px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.discussion_container .top_section .user_name {
  font-size: 18px;
}

.discussion_date {
  font-size: 14px;
  color: #999;
}

.reply_box {
  display: flex;
  background-color: #1a1a1d;
  font-size: 12px;
  padding: 10px 20px;
  border-radius: 5px;
}

.reply_box div {
  margin: 4px 0 0 5px;
  color: #f5cb5c;
}

.discussion_container .top_section .title_box {
  font-size: 30px;
  margin-top: 30px;
  border-right: 2px solid #f5cb5c;
  padding-right: 20px;
}

.discussion_container .top_section .description {
  background-color: #1a1a1d;
  margin-top: 20px;
  width: calc(100% - 60px);
  padding: 30px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 30px;
}

.user_about_bottom {
  display: flex;
}

.discussion_container .top_section .category_content {
  font-size: 12px;
  display: flex;
  align-items: center;
  border: 1px solid #f5cb5c;
  color: #000;
  width: fit-content;
  padding: 7.5px 15px;
  border-radius: 5px;
  transition: 0.2s;
  background-color: #f5cb5c;
  cursor: pointer;
  margin-left: 15px;
}
.discussion_container .top_section .category_content:hover {
  background: none;
  color: #f5cb5c;
}

.discussion_container .top_section .category_content div {
  margin: 5px 0 0 5px;
}

.discussion_container .bottom_section {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.discussion_container .bottom_section .right_side {
  width: calc(100% - 270px);
  display: flex;
  flex-direction: column;
}

.answer_form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.answer_form input {
  font-family: YekanBakhBold;
  width: calc(100% - 150px);
  border: 1px solid #232328cb;
  outline: 0;
  padding: 15px;
  border-radius: 5px;
  background-color: #232328cb;
  color: #fff;
  transition: 0.2s;
}
.answer_form input:focus {
  border-color: #f5cb5c;
}

.answer_form button {
  background-color: #f5cb5c;
  color: #000;
  padding: 14.5px 0;
  width: 100px;
  font-family: YekanBakhBold;
  border: 1px solid #f5cb5c;
  outline: 0;
  transition: 0.2s;
  cursor: pointer;
  border-radius: 5px;
  height: fit-content;
}
.answer_form button:hover {
  background: none;
  color: #f5cb5c;
}

.answers_list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.answer_box {
  width: calc(100% - 50px);
  background-color: #232328cb;
  padding: 25px;
  margin-top: 30px;
  border-radius: 5px;
  line-height: 30px;
}

.answer_box .user_box {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.answer_box .user_box img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 10px;
}

.user_box_top {
  display: flex;
}

.user_box_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user_box_bottom .icon_box {
  font-size: 10px;
  color: #f5cb5c;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.user_box_bottom .icon_box span {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5cb5c;
  color: #000;
  border-radius: 5px;
  font-size: 17px;
  border-radius: 50%;
  padding: 1px 2px 3px 2px;
}

.answer_box .answer {
  width: calc(100% - 40px);
  background-color: #1a1a1d;
  padding: 20px;
  font-size: 14px;
  margin: 30px 0;
  border-radius: 5px;
}

.answer_box .answer_btn {
  display: flex;
  background-color: #f5cb5c;
  color: #000;
  font-size: 13px;
  width: fit-content;
  padding: 8px 15px 5px 15px;
  border-radius: 5px;
  border: 1px solid #f5cb5c;
  cursor: pointer;
  transition: 0.2s;
}
.answer_box .answer_btn:hover {
  background: none;
  color: #f5cb5c;
}

.answer_box .answer_btn div {
  margin: 2px 0 0 5px;
}

.discussion_container .bottom_section .left_side {
  width: 180px;
  padding: 30px;
  border-radius: 5px;
  background-color: #232328cb;
  height: fit-content;
}

.discussion_container .animes {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}

.discussion_anime {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
}

.discussion_anime .show_btn {
  background-color: #f5cb5c;
  color: #000;
  padding: 8px 0;
  font-size: 12px;
  cursor: pointer;
  transition: 0.2s;
  border: 1px solid #f5cb5c;
  border-radius: 5px;
}
.discussion_anime .show_btn:hover {
  background: none;
  color: #f5cb5c;
}

.discussion_anime .title_box {
  margin: 10px 0;
  font-size: 14px;
}

.discussion_anime img {
  border-radius: 5px;
}

/* responsive */
@media (max-width: 1551px) {
  .answer_box .user_box span {
    margin-right: 8px;
  }

  .answer_box .user_box span .user_name {
    margin: 12px 0 -4px 0;
  }
}

@media (max-width: 1439px) {
  .discussion_container .top_section .user_box img {
    width: 60px;
    height: 60px;
  }

  .discussion_container .top_section .user_name {
    font-size: 16px;
  }

  .discussion_date {
    font-size: 12px;
  }

  .discussion_container .top_section .user_about {
    width: calc(100% - 75px);
  }

  .discussion_container .top_section .title_box {
    font-size: 22px;
  }

  .discussion_container .top_section .description {
    font-size: 12px;
    line-height: 26px;
  }

  .answer_form input {
    font-size: 12px;
  }

  .answer_form button {
    padding: 15px 0;
    font-size: 12px;
  }

  .answer_box .user_box img {
    width: 60px;
    height: 60px;
    margin-left: 15px;
  }

  .user_box_bottom .icon_box span {
    font-size: 16px;
  }

  .answer_box .answer {
    font-size: 12px;
    line-height: 26px;
  }

  .answer_box .answer_btn {
    font-size: 10px;
    padding: 5px 25px 2px 25px;
  }

  .answer_box .user_box span {
    margin: 0;
  }

  .answer_box .user_box span .user_name {
    margin-bottom: -8px;
    margin-top: 6px;
  }

  .discussion_container .bottom_section .left_side {
    width: 160px;
    padding: 25px;
  }

  .discussion_container .bottom_section .right_side {
    width: calc(100% - 240px);
  }

  .discussion_anime .title_box {
    font-size: 12px;
  }

  .discussion_anime .show_btn {
    font-size: 12px;
  }
}

@media (max-width: 1023px) {
  .discussion_container .bottom_section {
    flex-direction: column-reverse;
  }

  .discussion_container .bottom_section .right_side {
    width: 100%;
  }

  .discussion_container .bottom_section .left_side {
    width: 100%;
    background: none;
    padding: 0;
    margin-bottom: 30px;
  }

  .discussion_container .bottom_section .left_side .animes {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .discussion_anime {
    width: fit-content;
    flex-direction: column;
    align-items: center;
    background-color: #232328cb;
    padding: 20px;
    width: calc((100% - 20px) / 4);
    margin: 10px;
    border-bottom: 1px solid #f5cb5c;
  }

  .discussion_anime img {
    width: 100%;
    height: 80px;
    object-fit: cover;
  }

  .discussion_anime .title_box {
    margin: 12px 0 10px 0;
    width: 100%;
  }

  .discussion_anime .show_btn {
    padding: 6px 15px;
    font-size: 10px;
  }
}

@media (max-width: 767px) {
  .discussion_container {
    width: calc(100% - 50px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .discussion_container .top_section .user_box {
    flex-direction: column;
    align-items: flex-start;
  }

  .user_about_top {
    margin-bottom: 25px;
  }

  .reply_box {
    font-size: 10px;
    padding: 11px 20px;
  }

  .reply_box div {
    margin: 2px 0 0 5px;
  }

  .discussion_container .top_section .category_content {
    font-size: 10px;
  }

  .discussion_container .top_section .title_box {
    font-size: 18px;
  }

  .discussion_container .top_section .description {
    font-size: 10px;
    line-height: 22px;
  }

  .discussion_container .top_section {
    width: calc(100% - 40px);
    padding: 30px 20px 40px 20px;
  }

  .discussion_anime {
    width: calc(100% / 3);
  }

  .answer_form input {
    font-size: 10px;
  }

  .answer_form button {
    font-size: 10px;
  }

  .answer_box .user_box img {
    width: 50px;
    height: 50px;
    margin-left: 15px;
  }

  .answer_box .answer {
    font-size: 10px;
    line-height: 22px;
  }

  .user_box_bottom .icon_box {
    font-size: 8px;
  }

  .user_box_bottom .icon_box span {
    width: 25px;
    height: 25px;
    font-size: 14px;
  }

  .answer_box .user_box span .user_name {
    margin-bottom: -8px;
    margin-top: 1px;
    font-size: 14px;
  }

  .answer_box .user_box .discussion_date {
    font-size: 10px;
  }

  .answer_box .answer_btn {
    padding: 3px 15px 0px 15px;
  }

  .discussion_container .top_section .user_name {
    font-size: 14px;
  }

  .discussion_date {
    font-size: 10px;
  }

  .discussion_container .top_section .user_box img {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 424px) {
  .user_box_bottom .icon_box span {
    width: 22px;
    height: 22px;
    font-size: 12px;
    margin-bottom: 10px;
    border-radius: 5px;
  }

  .user_box_bottom .icon_box div {
    display: none;
  }

  .answer_form input {
    font-size: 10px;
    width: calc(100% - 80px);
    margin-left: 15px;
  }

  .answer_form button {
    font-size: 10px;
  }
}
