.header_container {
  width: calc(100% - 100px);
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right_side {
  display: flex;
  align-items: center;
}

.logo_box {
  font-size: 30px;
  font-family: YekanBakhHeavy;
  color: #f5cb5c;
}

.header_links {
  margin-right: 30px;
  display: flex;
}

.h_link {
  margin: 0 15px;
  font-size: 14px;
  color: #fff !important;
}
.h_link.show {
  color: #f5cb5c !important;
}

.left_side {
  display: flex;
}

.sign_btn {
  font-size: 12px;
  text-align: center;
  color: #fff;
  background-color: #262626;
  cursor: pointer;
  margin-right: 15px;
  padding: 8px 20px;
}

.log_btn {
  background-color: #f5cb5c;
  color: #000;
}

.theme_mode_wrapper {
  display: flex;
  align-items: center;
  margin: 5px 0 0 30px;
}

.theme_mode_wrapper span {
  color: #fff;
  width: fit-content;
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.sun_icon {
  color: #f5cb5c !important;
}

.theme_mode_btn {
  width: 42px;
  background-color: #f5cb5c;
  border-radius: 100px;
  height: 18px;
  position: relative;
  cursor: pointer;
}

.mode_square {
  background-color: #000;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  position: absolute;
  right: 3px;
  top: 50%;
  transform: translate(0, -50%);
}