.header_container {
  width: calc(100% - 100px);
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right_side {
  display: flex;
  align-items: center;
}

.logo_box {
  font-size: 30px;
  font-family: YekanBakhHeavy;
  color: #f5cb5c;
}

.header_links {
  margin-right: 30px;
  display: flex;
}

.h_link {
  margin: 0 15px;
  font-size: 14px;
  color: #fff !important;
}
.h_link.show {
  color: #f5cb5c !important;
}

.left_side {
  display: flex;
}

.sign_btn {
  font-size: 12px;
  text-align: center;
  color: #fff;
  background-color: #262626;
  cursor: pointer;
  margin-right: 15px;
  padding: 8px 20px;
}

.log_btn {
  background-color: #f5cb5c;
  color: #000;
}
