.home_topics {
  width: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  margin: 80px auto;
}

.home_topics .bottom_section {
  display: flex;
  justify-content: space-between;
}

.home_topics .section_title_box {
  padding: 0 10px;
  width: calc(100% - 20px);
}

/* responsive */
@media (max-width: 1439px) {
  .home_topics .bottom_section .anime_box:nth-child(6) {
    display: none;
  }
}

@media (max-width: 1023px) {
  .home_topics .bottom_section .anime_box:nth-child(5) {
    display: none;
  }
}

@media (max-width: 767px) {
  .home_topics .bottom_section .anime_box:nth-child(4),
  .home_topics .bottom_section .anime_box:nth-child(3) {
    display: none;
  }

  .home_topics {
    width: calc(100% - 50px);
    margin: 50px auto;
  }
}

@media (max-width: 424px) {
  .home_topics {
    width: calc(100% - 30px);
  }
}
