.slider_container {
  width: 100%;
  position: relative;
  height: 620px;
  user-select: none;
}

.back_slider {
  width: 100%;
  height: 620px;
}

.back_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.2);
}

.front_slider {
  width: 60%;
  position: absolute;
  bottom: 530px;
}

.anime_image {
  width: 300px;
  object-fit: cover;
  border-radius: 8px;
  filter: brightness(0.7);
}

.anime_slide {
  display: flex !important;
}

.anime_information {
  margin-right: 30px;
}

.main_title {
  font-size: 32px;
  font-weight: bold;
}

.persian_title {
  font-size: 18px;
}

.score_box {
  margin: 20px 0 20px 0;
  font-size: 30px;
  color: #f5cb5c;
  display: flex;
  letter-spacing: 1px;
  font-family: YekanBakhHeavy;
}

.score_box div {
  margin: 10px 5px 0 0;
  font-size: 20px;
}

.anime_tags {
  display: flex;
  font-size: 12px;
}

.anime_description {
  margin-top: 30px;
  font-size: 14px;
  line-height: 24px;
}

.play_btn {
  width: fit-content;
  font-size: 14px;
  background-color: #f5cb5c;
  padding: 8px 20px;
  color: #000;
  margin-top: 30px;
  pointer-events: painted;
  cursor: pointer;
  transition: 0.2s;
  border: 1px solid #f5cb5c;
}
.play_btn:hover {
  background: none;
  color: #f5cb5c;
}

/* category boxes */

.category_boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 100px);
  margin: 50px auto 100px auto;
}

.category_box {
  width: 23%;
  height: 200px;
  position: relative;
}

.category_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  filter: brightness(0.3);
}

.category_box .title_box {
  font-size: 22px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #1a1a1d;
  font-family: YekanBakhHeavy;
}
.category_box .title_box:hover {
  background-color: #f5cb5c43;
  border-color: #f5cb5c;
}
