.home_topics {
  width: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  margin: 80px auto;
}

.home_topics .bottom_section {
  display: flex;
  justify-content: space-between;
}

.home_topics .section_title_box {
  padding: 0 10px;
  width: calc(100% - 20px);
}
