.articles_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 40px 0;
}

.articles_wrapper .bottom_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home_articles_slider {
    width: 100%;
    height: fit-content;
    padding-top: 10px;
}

.article_box {
    width: 248px;
    padding: 16px;
    background-color: #232328cb;
    position: relative;
    bottom: 0;
    transition: .2s;
    border-bottom: 1px solid #232328cb;
}
.article_box:hover {
    bottom: 10px;
    border-color: #5cdb95;
}

.article_box img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.article_box .main_title {
    font-size: 14px;
    font-family: IranSansB;
    margin-top: 15px;
    cursor: pointer;
    transition: .2s;
}
.article_box .main_title:hover {
    color: #5cdb95;
}

.article_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    font-family: IranSans;
}

.study_time {
    font-size: 10px;
}

.article_icons {
    display: flex;
}

.article_icons div {
    font-size: 14px;
    padding: 2px 5px;
    width: 30px;
    display: flex;
    align-items: center;
}

.comments_num {
    color: #5FBDFF;
}

.likes_num {
    color: #F31559
}

.article_icons div div {
    border: none;
    font-size: 10px;
    font-family: IranSansB;
    color: #fff;
}