.weekly_schedule {
  background-color: #232328cb;
  width: calc(100% - 160px);
  margin: 0 auto;
  padding: 30px;
}

.weekly_schedule .top_side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #353535;
  padding-bottom: 20px;
  margin-bottom: 15px;
}

.weekly_schedule .title_box {
  display: flex;
  font-size: 20px;
}

.weekly_schedule .title_box div {
  margin: 2px 0 0 10px;
  color: #f5cb5c;
}

.week_days {
  display: flex;
}

.week_days div {
  color: #fff;
  margin-left: 8px;
  font-size: 14px;
  padding: 3px 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.week_days div:hover {
  color: #f5cb5c;
}
.week_days div.show {
  background-color: #f5cb5c;
  color: #000;
}
.week_days div.show:hover {
  color: #000;
}

.weekly_schedule .bottom_side {
  display: flex;
  flex-wrap: wrap;
}

.schedule_notif_box {
  background-color: #1a1a1d;
  padding: 20px;
  margin: 10px;
  display: flex;
  height: fit-content;
  width: fit-content;
  cursor: pointer;
  transition: 0.2s;
  border: 1px solid #1a1a1d;
}
.schedule_notif_box:hover {
  border-color: #f5cb5c;
}

.notif_box_inf {
  margin: 2px 10px 0 0;
}

.notif_box_inf .description {
  letter-spacing: 0.5px;
}

.notif_box_inf .description,
.notif_box_inf .anime_name {
  font-size: 14px;
}

.schedule_notif_box img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}

/* responsive */
@media (max-width: 1023px) {
  .weekly_schedule .top_side {
    flex-direction: column;
  }

  .week_days {
    margin-top: 20px;
  }

  .week_days div {
    font-size: 10px;
    margin-left: 5px;
  }

  .notif_box_inf .description,
  .notif_box_inf .anime_name {
    font-size: 10px;
  }

  .schedule_notif_box img {
    width: 40px;
    height: 40px;
  }

  .weekly_schedule .title_box {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .weekly_schedule .top_side {
    padding-bottom: 0px;
  }

  .weekly_schedule {
    width: calc(100% - 90px);
    padding: 20px;
  }

  .week_days {
    flex-wrap: wrap;
    justify-content: center;
  }

  .week_days div {
    margin-bottom: 10px;
  }

  .notif_box_inf .description,
  .notif_box_inf .anime_name {
    font-size: 8px;
  }

  .schedule_notif_box {
    padding: 10px;
    margin: 5px;
  }

  .schedule_notif_box img {
    width: 30px;
    height: 30px;
  }

  .weekly_schedule .title_box {
    font-size: 16px;
  }
}
