.articles_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 40px 0;
}

.articles_wrapper .bottom_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home_articles_slider {
  width: 100%;
  height: fit-content;
  padding-top: 10px;
}

.article_box {
  width: auto;
  padding: 16px;
  background-color: #232328cb;
  position: relative;
  bottom: 0;
  transition: 0.2s;
  border-bottom: 1px solid #232328cb;
}
.article_box:hover {
  bottom: 10px;
  border-color: #f5cb5c;
}

.article_box img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.article_box .main_title {
  font-size: 16px;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.2s;
}
.article_box .main_title:hover {
  color: #f5cb5c;
}

.article_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.study_time {
  font-size: 12px;
  letter-spacing: 0.5px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  color: #999;
}
.study_time div {
  margin: 4px 0 0 5px;
}

.article_icons {
  display: flex;
}

.article_icons div {
  font-size: 14px;
  padding: 2px 5px;
  width: 30px;
  display: flex;
  align-items: center;
}

.comments_num {
  color: #f5cb5c;
}

.likes_num {
  color: #f31559;
}

.article_icons div div {
  border: none;
  font-size: 12px;
  color: #fff;
}
