.loading_wrapper,
.req_loading_wrapper {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #000;
  direction: ltr;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.req_loading_wrapper {
  display: none;
}
.req_loading_wrapper.show {
  display: flex;
}

@keyframes ldio-9ghozaihh0b {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.ldio-9ghozaihh0b div {
  position: absolute;
  width: 120px;
  height: 120px;
  border: 20px solid #f5cb5c;
  border-top-color: transparent;
  border-radius: 50%;
}

.ldio-9ghozaihh0b div {
  animation: ldio-9ghozaihh0b 1s linear infinite;
  top: 200px;
  left: 200px;
}

.loadingio-spinner-rolling-oc83xtm5bt9 {
  width: 200px;
  height: 200px;
}

.ldio-9ghozaihh0b {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.5);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.ldio-9ghozaihh0b div {
  box-sizing: content-box;
}

/* responsive */
@media (max-width: 767px) {
  .ldio-9ghozaihh0b div {
    width: 80px;
    height: 80px;
    border: 16px solid #f5cb5c;
    border-top-color: transparent;
  }
}
