.sign_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sign_form {
  display: flex;
  flex-direction: column;
  padding: 35px 50px 50px 50px;
  width: 360px;
  border-radius: 10px;
  background-color: #232328cb;
  text-align: center;
  position: relative;
  top: 0px;
  transition: 0.5s ease-out;
}
.sign_form.show {
  top: 6px;
}

.sign_form .title_box {
  font-size: 30px;
  font-family: YekanBakhHeavy;
}

.sign_form .description {
  font-size: 14px;
  color: #999;
  margin: 5px 0 30px 0;
}

.sign_input {
  width: calc(100% - 40px);
  padding: 15px 20px;
  border-radius: 5px;
  background-color: #1a1a1d9c;
  outline: 0;
  margin-bottom: 15px;
  border: 1px solid #1a1a1d9c;
  font-family: YekanBakhBold;
  color: #fff;
}
.sign_input:focus {
  border-color: #f5cb5c;
}

.submit_btn {
  background-color: #f5cb5c;
  padding: 13px 20px;
  width: 100%;
  outline: 0;
  transition: 0.2s;
  cursor: pointer;
  border-radius: 5px;
  font-family: YekanBakhBold;
  border: none;
  margin-top: 10px;
}
.submit_btn:hover {
  background: #f5cc5c85;
}

.sign_container .top_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #353535;
  padding-bottom: 25px;
  margin-bottom: 15px;
}

.sign_container .top_buttons div,
.sign_container .linked {
  padding: 8px 0;
  margin: 0 5px;
  font-size: 14px;
  border-radius: 5px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5cb5c;
  color: #000;
  cursor: pointer;
}

.sign_container .linked {
  background: none !important;
  color: #f5cb5c !important;
  text-decoration: none;
}

.sign_container .top_buttons span {
  margin: 4px 7px 0 0;
  font-size: 16px;
}

.sign_back {
  position: absolute;
  top: -35px;
  left: 0;
  color: #f5cb5c;
  font-size: 13px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.sign_back div {
  margin: 3px 5px 0 0;
}

/* responsive */
@media (max-width: 767px) {
  .sign_form {
    padding: 35px 40px 40px 40px;
    width: calc(100% - 130px);
  }

  .sign_form .title_box {
    font-size: 20px;
  }

  .sign_form .description {
    font-size: 10px;
  }

  .sign_input {
    width: calc(100% - 40px);
    margin-bottom: 10px;
    font-size: 10px;
  }

  .submit_btn {
    margin-top: 10px;
    font-size: 10px;
  }

  .sign_container .top_buttons div,
  .sign_container .linked {
    font-size: 10px;
    padding: 9px 0;
  }

  .sign_container .top_buttons span {
    margin: 3px 7px 0 0;
    font-size: 12px;
  }

  .sign_back {
    font-size: 11px;
  }
}

@media (max-width: 376px) {
  .sign_back {
    left: 30px;
  }

  .sign_form {
    padding: 35px 30px 40px 30px;
    width: calc(100% - 60px);
    border-radius: 0;
  }
}
